### OS
.DS_Store
Thumbs.db

### Secrets
.env
.env.*
application-local.yml
application-local.properties

### Logs
*.log

### Maven / Java
target/
!**/src/main/**/target/
!**/src/test/**/target/

*.class

### Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

### Spring
HELP.md

### IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

### Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###  NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code
.vscode/

### Node / Frontend (futuro)
node_modules/
dist/
build/
.cache/
.vite/

### Coverage
coverage/

src/main/resources/static/logo.*